.main-div{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.example-card {
    background-color: rgb(250, 230, 215);
    max-width: 400px;
  }
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }