<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Home"> <app-home></app-home></mat-tab>
    <mat-tab label="Your Bookings"> <app-browse></app-browse></mat-tab>
    <mat-tab label="Search"><app-search></app-search> </mat-tab>
    <mat-tab label="Login"><app-login></app-login> </mat-tab>
    <mat-tab label="Register"><app-register></app-register> </mat-tab>
    <mat-tab label="Booking"><app-add-booking></app-add-booking> </mat-tab>
    <mat-tab label="Listing"><app-add-listing></app-add-listing> </mat-tab>
  </mat-tab-group>